<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">

		<title>{{ site.title }}</title>

		<meta name="description" content="{{ site.description }}">
		<meta name="author" content="{{ site.author }}">

		<meta name="viewport" content="width=700, user-scalable=no" />

		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Roboto" rel="stylesheet">
		<link href="css/normalize.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />

	</head>

	<body>
		<article class="contents">
			{{ content }}
		</article>

		<nav class="toc">
			<b>{{ site.manuscript[0].navid }}</b>
			<ul>
				{% assign collections = site.collections | where_exp: "item", "item.label != 'posts'" | sort: site.sortorderkey %}
				{% for collection in collections %}
				<li>
					{{collection.title}}
					<ul>
						{% assign docs = collection.docs | sort: site.sortorderkey, "first" %}
						{% for doc in docs %}
						<li><a href="{{doc.url}}">{{doc.title}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</nav>

	</body>
</html>